@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: Raleway-ExtraBold;
    padding: 30px 0;
    font-size: 22px;
    margin-inline-end: 0;
    background: #00ff85;
    background: linear-gradient(180deg, #00c2ff 0, #00ff85 100%, #00ff85 150%);
    background-attachment: fixed;
    text-align: center;
    color: #ffffff;
}

.actualbody {
    max-width: 600pt;
    display: table;
    margin: 0 auto;
}

a {
    color: #f5f24d;
    text-decoration: unset !important;
}

h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 900;
}

h2 {
    color: #ffffff;
}

.badge {
    border-style: none;
    height: 32px;
    font-size: 32px;
    color: #000;
}

.btn {
    display: block;
    position: relative;
    border-radius: 90px !important;
    padding-left: 54px;
    padding-right: 32px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 6px !important;
    color: #ffffff;
    width: 380px;
    display: inline-block !important;
    background: #000;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    text-decoration: unset !important;
    outline: 0;
    font-size: 21px;
    font-weight: 800;
}

:hover:after {
    color: #98fb98;
}

.bitcoin-label {
    background-color: #f7931a;
}

.bitcoin-label:after {
    content: ' Bitcoin';
}

.bitcoin-label:hover:after {
    content: ' Click to open';
}

.email-label {
    background-color: #2e8b57;
}

.email-label:after {
    content: ' Mail';
}

.email-label:hover:after {
    content: ' admin@namazso.eu';
}

.github-label {
    background-color: #000000;
}

.github-label:after {
    content: ' GitHub';
}

.github-label:hover:after {
    content: ' namazso';
}

.twitter-label {
    background-color: #1da1f2;
}

.twitter-label:after {
    content: ' Twitter';
}

.twitter-label:hover:after {
    content: ' @namazso';
}

.mastodon-label {
    background-color: #595aff;
}

.mastodon-label:after {
    content: ' Mastodon';
}

.mastodon-label:hover:after {
    content: ' @namazso@mastodon.cloud';
}

.monero-label {
    background-color: #f26822;
}

.monero-label:after {
    content: ' Monero';
}

.monero-label:hover:after {
    content: ' Click to open';
}

.buymeacoffee-label {
    background-color: #2e8b57;
}

.buymeacoffee-label:after {
    content: ' buymeacoffee';
}

.buymeacoffee-label:hover:after {
    content: ' namazso';
}

.matrix-label {
    background-color: #292929;
}

.matrix-label:after {
    content: ' Matrix';
}

.matrix-label:hover:after {
    content: ' @namazso:namazso.eu';
}

.keybase-label {
    background-color: #3663ea;
}

.keybase-label:after {
    content: ' Keybase';
}

.keybase-label:hover:after {
    content: ' namazso';
}

.reddit-label {
    background-color: #ff5700;
}

.reddit-label:after {
    content: ' Reddit';
}

.reddit-label:hover:after {
    content: ' namazso';
}

.pgp-label {
    background-color: #0093dd;
}

.pgp-label:after {
    content: ' PGP';
}

.pgp-label:hover:after {
    content: ' 8778 6B14 FD6B FE40';
}